/* 
*	Quark: Forms
*	----------------------------------------------------------------
*	Basic forms styles
*	----------------------------------------------------------------
*	@author Alex Coady	
*	@date 08/08/2013
*/

input,
textarea {
	padding: 5px;
	border: 1px solid black;

	font-size: 1em;
}

input[type="checkbox"],
input[type="radio"] {

	padding: 0;
	border: 0 none;
}